.results {
    background-color: white;
    max-width: 1100px;
    margin-left: 100px;
}

.results__category {
    background-color: #eeeeee;
    padding: 16px;
}

.results__products {
    margin-top: 16px;
}

.results__category>h3 {
    color: #999999;
    font-size: 14px !important;
    font-weight: 500;
}